*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

body{
    background-color: #201b2c;
}

header{
    background-color: #2f2841;
}

header div.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
}

h1{
    color: #00ff88;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
    color: #fff;

}

section div.conteiner-about{
    display: flex;
    margin: 40px 40px;
    align-items: center;
}

section div.conteiner-about img{
    width: 300px;
}

section div.txt-about > ul{
    margin: 0 20px;
}

h2{
    color: #fff;
    margin-left: 20px;
}

h2 span{
    color: #00ff88;
}

div.txt-about p{
    color: #fff;
    text-align: justify;
    margin-left: 20px;
}

div.txt-about  ul{
    display: flex;
    justify-content: end;
}

div.txt-about ul li{
    color: #00ff88;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 16px;
    cursor: pointer;
}

ul li i{
    display: inline-block;
    transition: 0.2s;
}

ul li i:hover{
    transform: scale(1.3);
}

#contact .container-contact{
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin: 20px 40px;
    margin:20px;
    gap: 16px;

}

.contact-methods{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 5px;
}

input:focus, textarea:focus{
    outline-color: #2f2841;
}

form button{
    color: #fff;
    background-color: #00ff88;
    border: none;
    cursor: pointer;
}

form textarea{
    resize: none;
    height: 180px;
}
.title-contact{
    display: flex;
    justify-content: space-around;
    margin:20px;
    font-size: 30px;
}

div .contact-2{
    display: flex;
    flex-direction: column;
}

.social-links li, 
a{
    display: inline;
    list-style: none;
    color: #00ff88;
    font-size: 30px;
    margin-right: 5px;
    
}

div .local{
    margin-top: 20px;
    margin-bottom: 8px;
}

div .local p{
    color: #00ff88;
}

h3{
    color: #fff;
}

footer{
    background-color: #2f2841;
}

footer p{
    color: #fff;
    display: flex;
    justify-content: center;
}

